In [87]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd

In [88]:
df = pd.read_csv('flower.csv', names=['x1','x2','x3'])

In [89]:

z_score = MinMaxScaler()
df = pd.DataFrame(z_score.fit_transform(df), columns=df.columns)
df

      x1        x2        x3
0   0.20  1.000000  0.021277
1   0.12  0.583333  0.021277
2   0.04  0.750000  0.000000
3   0.00  0.666667  0.042553
4   0.96  0.750000  0.723404
5   0.72  0.750000  0.680851
6   0.92  0.666667  0.765957
7   0.36  0.000000  0.574468
8   0.76  0.416667  0.702128
9   0.68  0.833333  1.000000
10  0.48  0.333333  0.808511
11  1.00  0.583333  0.978723
12  0.68  0.500000  0.914894
13  0.76  0.583333  0.957447

In [90]:
c=np.array([df.iloc[0].values, df.iloc[7].values, df.iloc[13].values])
print(c)

for i in range(len(c)):
    df[f'c{i}_dist'] = df.iloc[:,:3].apply(lambda x: np.linalg.norm(x-c[i]), axis =1)
df['cluster'] = df.iloc[:,3:6].apply(lambda x: np.argmin(x),axis=1)
display(df)

[[0.2        1.         0.0212766 ]
 [0.36       0.         0.57446809]
 [0.76       0.58333333 0.95744681]]

      x1        x2        x3   c0_dist   c1_dist   c2_dist  cluster
0   0.20  1.000000  0.021277  0.000000  1.153959  1.167744        0
1   0.12  0.583333  0.021277  0.424277  0.838987  1.134026        0
2   0.04  0.750000  0.000000  0.297578  0.997454  1.209497        0
3   0.00  0.666667  0.042553  0.389312  0.925731  1.192298        0
4   0.96  0.750000  0.723404  1.064464  0.971948  0.350077        2
5   0.72  0.750000  0.680851  0.876321  0.838700  0.325397        2
6   0.92  0.666667  0.765957  1.088146  0.891467  0.263083        2
7   0.36  0.000000  0.574468  1.153959  0.000000  0.804332        1
8   0.76  0.416667  0.702128  1.057088  0.591530  0.304903        2
9   0.68  0.833333  1.000000  1.102759  0.988899  0.265915        2
10  0.48  0.333333  0.808511  1.068916  0.424602  0.403834        2
11  1.00  0.583333  0.978723  1.315415  0.955667  0.240941        2
12  0.68  0.500000  0.914894  1.130907  0.684317  0.123107        2
13  0.76  0.583333  0.957447  1.167744  0.804332  0.000000        2

In [91]:
c = df.iloc[:,[0,1,2,6]].groupby('cluster').mean().values
print(c)
for i in range(len(c)):
    df[f'c{i}_dist'] = df.iloc[:,:3].apply(lambda x: np.linalg.norm(x-c[i]), axis =1)
df['cluster'] = df.iloc[:,3:6].apply(lambda x: np.argmin(x),axis=1)
display(df)

[[0.09       0.75       0.0212766 ]
 [0.36       0.         0.57446809]
 [0.77333333 0.60185185 0.83687943]]

      x1        x2        x3   c0_dist   c1_dist   c2_dist  cluster
0   0.20  1.000000  0.021277  0.273130  1.153959  1.073518        0
1   0.12  0.583333  0.021277  0.169345  0.838987  1.045177        0
2   0.04  0.750000  0.000000  0.054339  0.997454  1.122539        0
3   0.00  0.666667  0.042553  0.124488  0.925731  1.110495        0
4   0.96  0.750000  0.723404  1.117982  0.971948  0.263949        2
5   0.72  0.750000  0.680851  0.912107  0.838700  0.221669        2
6   0.92  0.666667  0.765957  1.118210  0.891467  0.175334        2
7   0.36  0.000000  0.574468  0.970268  0.000000  0.775841        1
8   0.76  0.416667  0.702128  1.011716  0.591530  0.229411        2
9   0.68  0.833333  1.000000  1.145838  0.988899  0.298166        2
10  0.48  0.333333  0.808511  0.972342  0.424602  0.398687        2
11  1.00  0.583333  0.978723  1.331384  0.955667  0.268031        2
12  0.68  0.500000  0.914894  1.099614  0.684317  0.158654        2
13  0.76  0.583333  0.957447  1.163225  0.804332  0.122708        2

In [92]:
c = df.iloc[:,[0,1,2,6]].groupby('cluster').mean().values
print(c)

[[0.09       0.75       0.0212766 ]
 [0.36       0.         0.57446809]
 [0.77333333 0.60185185 0.83687943]]